
@font-face {
	font-family: "DejaVu Sans ";
	src: url ("../fonts/caps.ttf");
}

@font-face{
	font-family: "normal-bold ";
	src: url ("../fonts/normal-bold.ttf");


}

*{
padding: 0;
margin: 0;
text-decoration: none;
font-family: normal;
list-style: none;

}

body{

	color:  #181818;
	background: #FFFFFF;
	margin: 0 auto;
    max-width: 1366px;

}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;     
    height:60px;
    padding: 0 20px;
   }

ul{
    display: flex;
    width: 200px;
    justify-content: space-between;
}




        
.menu li a:hover{
    background: #BADC58;
}
 
 section {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    display: flex;
    color: #FFFFFF;
    align-items: center;
}

   
 h1{
    font-size: 50px;
    margin-bottom: 16px; 
     width: 692px;
     font-family: caps;
}

section p{
    font-size: 14px;
    
}
.mtavari {
    width: 100vw;
    position: absolute;
    top: 60px;
    z-index: -2;
    object-fit: cover;
}

.scrol {
    color:#FFFFFF;
    height: 11px;
    margin-top:43px;


}



h2{
    
    text-align: center;
    width: 100%;
    font-size: 30px;

}

@media (min-width: 320px){
    .content{
         position: absolute;
         z-index: -1;


    }
   

}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    align-items: center;
    height: calc(100vh - 60px);
}

